<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdou.succulent.manager.mapper.ArticleMapper">
  <sql id="Base_Column_List">
    id, title, img, module_id, status, banner_status, keyword, comment_num, staff_id, created_by, modified_by, created_time, modified_time
  </sql>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO tb_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      modified_time,
      created_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title},
      </if>
      <if test="img != null">
        #{img},
      </if>
      <if test="moduleId != null">
        #{moduleId},
      </if>
      <if test="keyword != null">
        #{keyword},
      </if>
      <if test="staffId != null">
        #{staffId},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="updateStatusById">
    UPDATE tb_article
    SET
      modified_by = #{modifiedBy},
      status = #{status},
      modified_time = now()
    WHERE id = #{id}
  </update>
  
  <update id="updateBannerStatus">
    UPDATE tb_article
    SET
      modified_by = #{modifiedBy},
      bannerStaus = #{bannerStatus},
      modified_time = now()
    WHERE id = #{id}
  </update>

  <update id="update">
    UPDATE tb_article
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="img != null">
        img = #{img},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId},
      </if>
      <if test="keyword != null">
        keyword = #{keyword},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId},
      </if>
        modified_by = #{modifiedBy},
        modified_time = now()
    </set>
    WHERE id= #{id}
  </update>

  <select id="selectByList" resultType="com.tangdou.succulent.manager.api.article.Article">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_article
    <where>
      <if test="moduleId != null and moduleId != ''">
        module_id = #{moduleId}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
      <if test="bannerStatus != null and bannerStatus != ''">
        AND banner_status = #{bannerStatus}
      </if>
      <if test="staffId != null and staffId != ''">
        AND staff_id = #{staffId}
      </if>
      <if test="title != null and title != ''">
        AND title like CONCAT ('%',#{title},'%')
      </if>
      <if test="keyword != null and keyword != ''">
        AND keyword like CONCAT ('%',#{keyword},'%')
      </if>
    </where>
  </select>
  
  <select id="selectPublished" resultType="com.tangdou.succulent.manager.api.article.Article">
    SELECT 
    <include refid="Base_Column_List"/>
    FROM tb_article
    WHERE status = 2
  </select>

  <select id="selectById" resultType="com.tangdou.succulent.manager.api.article.Article">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_article
    WHERE id =#{id}
  </select>

</mapper>