<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdou.succulent.manager.mapper.GoodsMapper">
  <sql id="Base_Column_List">
    id, name, img, price, status, created_by, modified_by, created_time, modified_time
  </sql>

  <insert id="insert">
    INSERT INTO tb_goods
    (name, img, price, created_by, created_time)
    VALUES
    (#{name}, #{img}, #{price}, #{createdBy}, now())
  </insert>

  <update id="updateStatusById">
    UPDATE tb_goods
    SET
      modified_by = #{modifiedBy},
      status = #{status},
      modified_time = now()
    WHERE id = #{id}
  </update>

  <update id="update">
    UPDATE tb_goods
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="img != null">
        img = #{img},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
        modified_by = #{modifiedBy},
        modified_time = now()
    </set>
    WHERE id= #{id}
  </update>

  <select id="selectByList" resultType="com.tangdou.succulent.manager.api.goods.model.Goods">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_goods
    <where>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
      <if test="name != null and name != ''">
        AND name like CONCAT ('%',#{name},'%')
      </if>
    </where>
    ORDER BY created_time DESC
  </select>

  <select id="selectById" resultType="com.tangdou.succulent.manager.api.goods.model.Goods">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_goods
    <where>
      id =#{id}
      <if test="status != null">
        AND status = #{status}
      </if>
    </where>
  </select>

</mapper>