<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdou.succulent.manager.mapper.StaffUserMapper">
  <sql id="Base_Column_List">
    id, user_name, pass_word, salt, real_name, gender, mobile, role_id, role_name, dept_id, dept_name,
    nick_name, status, avatar, created_by, created_time, modified_by, modified_time
  </sql>

  <insert id="insert">
    INSERT INTO tb_staff_user
    (user_name, pass_word, salt, real_name, gender, mobile, role_id, role_name, nick_name,
     dept_id, dept_name, modified_by, created_by, created_time, modified_time)
    VALUES
    (#{userName}, #{passWord}, #{salt}, #{realName}, #{gender}, #{mobile}, #{roleId},
     #{roleName}, #{nickName}, #{deptId}, #{deptName}, #{modifiedBy}, #{createdBy}, now(), now())
  </insert>

  <select id="selectForLogin" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT
      <include refid="Base_Column_List"/>
    FROM tb_staff_user
    WHERE
      user_name = #{userName}
    AND
      pass_word = #{passWord}
  </select>

  <select id="selectList" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT 
      <include refid="Base_Column_List"/>
    FROM tb_staff_user
    <where>
      <if test="realName != null">
        real_name = #{realName}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile}
      </if>
      <if test="roleId != null">
        AND role_id = #{roleId}
      </if>
      <if test="deptId != null">
        AND dept_id = #{deptId}
      </if>
    </where>
  </select>

  <select id="selectByUserName" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_staff_user
    WHERE user_name = #{userName}
  </select>

  <select id="selectById" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_staff_user
    WHERE id = #{id}
  </select>

  <update id="updateRoleById">
    UPDATE tb_staff_user
    SET
      role_id = #{roleId},
      role_name = #{roleName},
      modified_by = #{modifiedBy},
      modified_time = now()
    WHERE
      id = #{id}
  </update>

  <update id="updateRoleByRoleId">
    UPDATE tb_staff_user
    SET
      role_id = #{roleId},
      role_name = #{roleName}
    WHERE
      role_id = #{roleId}
  </update>

  <update id="updateDeptByDeptId">
    UPDATE tb_staff_user
    SET
      dept_id = #{deptId},
      dept_name = #{deptName}
    WHERE
      dept_id = #{deptId}
  </update>
  <update id="update">
    UPDATE tb_staff_user
    <set>
      <if test="realName != null">
        real_name = #{realName},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName},
      </if>
      <if test="mobile != null">
        mobile = #{mobile},
      </if>
      <if test="avatar != null">
        avatar = #{avatar},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord},
      </if>
      modified_by = #{modifiedBy}
    </set>
    WHERE id = #{id}
  </update>
</mapper>