<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdou.succulent.manager.mapper.UserFollowMapper">
  <sql id="Base_Column_List">
    id, user_id, followed_id, status, created_time
  </sql>

  <update id="updateStatusById">
    UPDATE tb_user_follow
    SET
      status = #{status}
    WHERE
      id = #{id}
  </update>

  <select id="countFollowedByBothId" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM tb_user_follow
    WHERE user_id = #{userId}
    AND followed_id = #{followedId}
    AND status = 0
  </select>

  <select id="selectByUserId" resultType="com.tangdou.succulent.manager.api.user.model.UserFollow">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_user_follow
    WHERE user_id = #{userId}
    AND status = 0
  </select>

  <select id="selectByFollowedId" resultType="com.tangdou.succulent.manager.api.user.model.UserFollow">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_user_follow
    WHERE followed_id = #{followedId}
    AND status = 0
  </select>

  <select id="countByUserId" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM tb_user_follow
    WHERE user_id = #{userId}
    AND status = 0
  </select>

  <select id="countByFollowedId" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM tb_user_follow
    WHERE followed_id = #{followedId}
    AND status = 0
  </select>

  <select id="selectByBothId" resultType="com.tangdou.succulent.manager.api.user.model.UserFollow">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tb_user_follow
    WHERE user_id = #{userId}
    AND followed_id = #{followedId}
  </select>

  <insert id="insert">
    INSERT INTO tb_user_follow
    (user_id, followed_id, created_time)
    VALUES
    (#{userId}, #{followedId}, now())
  </insert>

</mapper>