<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdou.succulent.manager.mapper.StaffUserMapper">
  <sql id="Base_Column_List">
    id, user_name, pass_word, real_name, gender, mobile, role_id, role_name, dept_id, dept_name,
    status, created_by, created_time, modified_by, modified_time
  </sql>

  <insert id="insert">
    INSERT INTO staff_user
    (user_name, pass_word, real_name, gender, mobile, role_id, role_name,
     dept_id, dept_name, created_by, created_time, modified_by)
    VALUES
    (#{userName}, #{passWord}, #{realName}, #{gender}, #{mobile}, #{roleId},
     #{roleName}, #{deptId}, #{deptName}, #{createdBy}, now(), #{modifiedBy})
  </insert>

  <select id="selectForLogin" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT
      <include refid="Base_Column_List"/>
    FROM staff_user
    WHERE
      user_name = #{userName}
    AND
      pass_word = #{passWord}
  </select>

  <select id="selectList" resultType="com.tangdou.succulent.manager.bean.staff.StaffUser">
    SELECT 
      <include refid="Base_Column_List"/>
    FROM staff_user
    <where>
      <if test="realName != null">
        real_name = #{realName}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile}
      </if>
      <if test="roleId != null">
        AND role_id = #{roleId}
      </if>
      <if test="deptId != null">
        AND dept_id = #{deptId}
      </if>
    </where>
  </select>

  <update id="updateRoleById">
    UPDATE staff_user
    SET
      role_id = #{roleId},
      role_name = #{roleName},
      modified_by = #{modifiedBy}
    WHERE
      id = #{id}
  </update>
</mapper>